.grid-container3 {
    display: grid;
    grid-template-columns:   auto auto auto auto;
 
    background-color: grey;
    padding: 15px;
    justify-content: space-evenly;
}

.grid-container3 > div {
    margin: 15px;
    width: 25vw;
    height: 50vh;
    padding: 15px;
    border: 2px solid black;
}

.plano {
    background-color: aqua;
}

.gradiente {
    background: linear-gradient(to right, red, blue);
}

.imagen{
    background-image: url(/imagen/camaras.jpg);
}